.header-container {
  width: calc(100% - 40px);
  height: 128px;
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  position: fixed;
  background-color: #eaeff1;
  border-radius: 25px 25px 0 0;
  z-index: 100;
  .header-rightInner-container {
    width: 500px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .menu-item {
      line-height: 68px;
      height: 68px;
      color: #404040;
      line-height: -34px;
      margin: 0;
      padding: 0 4px;
      box-sizing: border-box;
      text-decoration: none;
      text-align: center;
      border-bottom: 6px solid transparent;
      border-radius: 5px;
      transition: 0.3s;
    }
    .menu-item:hover {
      border-color: #006341;
    }
    .menu-selectedItem {
      border-color: #006341;
    }
    .logo {
      width: 68px;
      height: 68px;
      margin-right: 20px;
    }
  }
  .header-leftInner-container {
    height: 100%;
    display: flex;
    align-items: center;
    width: 120px;
    justify-content: center;
    .search-icon {
      width: 40px;
      height: 40px;
    }
  }
}
