.rightMenu-container {
  width: 64.03%;
  height: 100vh;
  overflow: scroll;
  .loading-circle {
    position: relative;
    top: 50%;
    left: 50%;
  }
  .products-header {
    font-size: 28px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: #404040;
    margin-top: 0;
  }
  .fancy-line {
    border: 0;
    height: 3px;

    width: 294px;
    margin: 0 auto;
    background: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0) 10%,
      rgba(0, 0, 0, 0) 95%
    );
  }
  .products-container {
    direction: rtl;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
    .productCard-container {
      width: 33%;
      display: flex;
      justify-content: center;
      .product-card {
        box-shadow: 1px 2px 2px rgba(143, 158, 163, 0.2),
          2px 4px 4px rgba(143, 158, 163, 0.2),
          4px 8px 8px rgba(143, 158, 163, 0.2),
          8px 16px 16px rgba(143, 158, 163, 0.2),
          16px 32px 32px rgba(143, 158, 163, 0.2);
        width: 218px;
        height: 327px;
        background-color: #ffffff;
        border-radius: 23px;
        margin: 0px 15px;

        .product-poster {
          width: 168px;
          height: 168px;
          border-radius: 103px;
          top: -40px;
          position: relative;
          right: 25px;
        }
        .price {
          color: #006341;
          width: 100%;
          text-align: center;
          top: -17px;
          position: relative;
        }
        .product-title {
          width: 80%;
          height: 50px;
          text-align: center;
          top: -40px;
          position: relative;
          padding: 0 10%;
        }
        .add-button {
          width: 188px;
          height: 40px;
          background: #006341;
          border-radius: 32px;
          border: none;
          font-family: Vazirmatn;
          color: #ffffff;
          font-weight: 200;
          right: 15px;
          bottom: 27px;
          position: relative;
          cursor: pointer;
          transition: 0.2s;
        }
        .add-button:hover {
          background-color: #006340c6;
        }
      }
    }
  }
}
.rightMenu-container::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 1280px) {
  .rightMenu-container {
    width: 70%;
  }
  .product-poster {
    width: 140px;
    height: 140px;
    border-radius: 103px;
    top: -40px;
    position: relative;
    right: 11px !important;
  }
  .product-card {
    width: 190px !important;
  }
  .add-button {
    width: 160px !important;
  }
}
