.page-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #006341;
  .page-innerContainer {
    position: absolute;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 20px 20px;
    background: linear-gradient(180deg, #eaeff1 57.81%, #c5d5cf 100%);
    border-radius: 23px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    .page-innerContainer-bottomContainer {
      display: flex;
      margin-top: 128px;
    }
    .horizontal-line{
      top: 168px;
      height:70vh;
      width: 3px;
      background: radial-gradient(
        ellipse at center,
        #7A8F8F 10%,
        rgba(0, 0, 0, 0) 95%
      );
      position: fixed;
      left:36.96%;
  }
  }
  .page-innerContainer::-webkit-scrollbar {
    display: none;
  }
}
