.page-container{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #006341;
    
}
.page-innerContainer{
    position: absolute;
    width: calc(100% - 64px);
    height: calc(100% - 66px);
    margin: 33px 32px;
    background: linear-gradient(180deg, #EAEFF1 57.81%, #C5D5CF 100%);
    border-radius: 23px;

}